.footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 10%;
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
    background: var(--dark-color-a);
    color: var(--light-color);
}

.footer a:hover{
    cursor: pointer;
    text-shadow: 0 1px 0 #ccc, 0 1px 0 #c9c9c9, 0 2px 0 #bbb, 0 2px 0 #b9b9b9;
}